@font-face {
  font-family: 'TT Norms Regular';
  src: url("../assets/fonts/TT_Norms/TTNorms-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: 'TT Norms Medium';
  src: url("../assets/fonts/TT_Norms/TTNorms-Medium.otf") format("opentype");
}
@font-face {
  font-family: TT Norms ExtraBold;
  src: url("../assets/fonts/TT_Norms/TTNorms-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: TT Norms Bold;
  src: url("../assets/fonts/TT_Norms/TTNorms-Bold.otf") format("opentype");
}

@font-face {
  font-family: Avenir Next Cyr Demi;
  src: url("../assets/fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff")
    format("woff");
}
@font-face {
  font-family: TT Norms Light;
  src: url("../assets/fonts/TT_Norms/TTNorms-Light.otf") format("opentype");
}
